/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 8, 2017, 11:27:04 AM
    Author     : PC 10
*/

/*
Ref:
Thanks to:
http://www.jqueryscript.net/layout/Simple-jQuery-Plugin-To-Create-Pinterest-Style-Grid-Layout-Pinterest-Grid.html
*/

@font-face{font-family:'Roboto500';
           src:url(../fonts/Roboto500.ttf) format('truetype');
            }
            
 @font-face{font-family:'Montserrat-Light';
           src:url(../fonts/Montserrat-Light.ttf) format('truetype');
            }
            
@font-face{font-family:'Montserrat-Medium';
           src:url(../fonts/Montserrat-Medium.ttf) format('truetype');
            }
#pinBoot {
  position: relative;
  max-width: 100%;
  width: 100%;
}
.workshop_heading h2{
    color: #000;
    font-family: Montserrat-Light;
    font-size: 12pt;
    
}
.white-panel img {
  width: 100%;
  max-width: 100%;
  height: auto;
}
.white-panel {
  position: absolute;
  padding: 10px;
}
.white-panel h1 {
  color: #000;
}

.workshop_heading h2{
    padding-left: 12px;
    color: #000;
    font-family: HelveticaNeueLight;
    font-size: 14pt;
    font-weight: none;
    
}
.workshop_footer h2{
    font-family: HelveticaNeueLight;
    font-size: 12pt;
    color: #000;
    text-transform: capitalize;
    
}
.practice_footer h2{
    font-family: HelveticaNeueLight;
    font-size: 12pt;
    color: #000;
    text-transform: capitalize;
    margin-bottom: 60px;
}
.event_footer h2{
    font-family: HelveticaNeueLight;
    font-size: 12pt;
    color: #000;
    text-transform: capitalize;
   
}
.Grant_Award_footer h2{
    font-family: HelveticaNeueLight;
    font-size: 12pt;
    color: #000;
    text-transform: capitalize;
   
}
.Residency_footer h2{
    font-family: HelveticaNeueLight;
    font-size: 12pt;
    color: #000;
    text-transform: capitalize;
   
}
.Partnership_Project_footer h2{
    font-family: HelveticaNeueLight;
    font-size: 12pt;
    color: #000;
    text-transform: capitalize;
    
}
.picture_panel1{
     background-color: #f7f7f7;
      padding: 15px;
}
.picture_panel1 h4{
    color: #000;
    font-family: HelveticaNeueLight;
    font-size: 12pt;
    font-weight: bold;
}
.picture_panel1 p{
    color: #000;
    font-family: HelveticaNeueLight;
    font-size: 10pt;
    line-height: 20px;
}
.picture_panel1 a{
    color: #000;
    font-family: HelveticaNeueLight;
    font-size: 10pt;
    text-decoration: none;
}
.picture_panel2{
    padding: 15px;
    background-color: #F6F3F2;
    color: #000;
    font-family: HelveticaNeueLight;
    font-size: 11.7pt;
    
}
.picture_panel2 h4{
    color: #000;
    font-family: HelveticaNeueLight;
    font-size: 11.7pt;
    text-decoration: none;
    font-weight: bold;
}
.picture_panel2 a{
    color: #000;
    font-family: HelveticaNeueLight;
    font-size: 11.7pt;
    text-decoration: none;
}
.picture_panel2 p{
    color: #000;
    font-family: HelveticaNeueLight;
    font-size: 11.7pt;
    line-height: 22px;
}
.picture_heading{
    line-height: 0px;
    margin-bottom: 20px;
}
.marge_img{
  margin-top: 0px;
  margin-bottom: 24px;
}
